/* Responsive adjustments for tablets and medium screens */
@media (max-width: 991px) {
    .service-section .service-item,
    .contact-section .contact-item,
    .portfolio-section .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .contact-section .w-50 {
        padding: 0 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Responsive adjustments for smaller tablets and mobile devices */
@media (max-width: 767px) {
    .portfolio-section .portfolio-item,
    .about-section .skills .skill-item,
    .service-section .service-item,
    .contact-section .contact-item,
    .portfolio-popup .description,
    .about-section .about-info,
    .home-section .home-image,
    .about-section .about-img,
    .home-section .home-text,
    .portfolio-popup .info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-section .home-image .img-box {
        width: 150px; /* Set fixed width */
        height: 150px; /* Set fixed height */
        border-radius: 50%; /* Make the image fully round */
        overflow: hidden; /* Ensure the content fits within the circle */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; /* Center the image */
    }

    .home-section .home-image .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Prevent stretching */
    }

    .service-section .service-item-inner:hover h3,
    .service-section .service-item-inner:hover p {
        padding: 0 15px;
    }

    .home-section .home-text {
        order: 2;
        text-align: center;
    }

    .home-section .full-screen {
        padding: 80px 15px;
    }

    .effect-3 {
        margin-left: -40px;
    }

    .effect-4 {
        left: 10%;
    }

    .effect-5 {
        right: 3%;
    }

    .about-section .about-img {
        padding-bottom: 20px;
    }

    .about-section .timeline .timeline-item {
        margin-bottom: 30px;
        padding-left: 60px;
    }

    .about-section .timeline .timeline-item:nth-child(odd) {
        padding-right: 10px;
        text-align: left;
    }

    .about-section .timeline:before {
        left: 30px;
    }

    .about-section .timeline .timeline-item .icon {
        left: -50px;
    }

    .portfolio-popup .description p {
        margin-bottom: 20px;
    }
}

/* Fine-tuning for small mobile screens */
@media (max-width: 599px) {
    .home-section .home-image .img-box {
        width: 300px; /* Adjust for smaller screens */
        height: 320px;
    }

    .home-section .home-text h2 {
        font-size: 18px;
    }

    .about-section .timeline .timeline-item {
        padding-left: 50px;
    }

    .about-section .timeline .timeline-item .icon {
        left: -40px;
    }
}
